body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

input {
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    list-style: none;
    background: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}